body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.comfortaa-regular {
    font-family: 'Comfortaa', sans-serif;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}  

.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100svh;
    background-image: url('../images/kazakh-a-man-and-a-wonem.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centered-text {
    font-size: 2.2em;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.centered-text h5 {
    font-size: 35px;
    color: #ce0650;
    padding: 0;
    margin: 0;
}

.centered-text h6 {
    color: #ce0650;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}

.rotating-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #007bff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.rotating-container {
    position: absolute;
    bottom: 26%;
    left: 80%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: rgb(255, 215, 0);
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgba(255, 215, 0, 1);
    transition: background-color 0.3s ease;
}

.play-button i {
    display: block;
    font-size: 60px;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#rotating-text {
    position: absolute;
    font-size: 12px;
    color: #FFD700;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.image-border-tb {
    padding-top: 30px;
    padding-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.center-calendar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-part {
    text-align: center;
}

.main-part h1 {
    font-size: 35px;
    color: #ce0650;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.main-part h5 {
    font-size: 20px;
    color: black;
    padding: 0;
    margin: 0;
}